/*
St Pius X Colours

Pius Gold - #ffdd00
Pius Blue   - #003362
Theme Grey  - #e2e2e2
Pius Light Accent - #003e77
Pius Dark Accent - #001f3b;
Yellow Hover- #d6bb0e
Blue Current- #0c6bc5
*/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap');

*,*::before,*::after { box-sizing: inherit }

:root {
    box-sizing: border-box;
}

body {
    display: flow-root;
    max-width: max(0.6vw, 1000px);
    margin: 0 auto;
    background-image: url(./img/circuit-blur.jpg);
    background-attachment: fixed;
    font-family: 'Lexend';
}

header {
    display: grid;
    grid-template-columns: minmax(0, 7rem) minmax(0, 1fr);
    grid-template-rows: 7rem;
    background-color: #123;
    border-left: 1rem solid #ffdd00;
}

header > img {
    display: block;
    margin: auto;
    grid-area: 1 / 1 / 2 / 2;
    object-fit: contain;
    width: 7rem;
    height: 100%;
}

h1 {
    margin: auto;
    margin-left: 0;
    grid-area: 1 / 2 / 2 / 3;
    font-family: "Lexend", sans-serif;
    font-size: 3rem;
    color: white;
    white-space: nowrap;
}

nav {
    grid-area: 2 / 1 / 3 / 3;
    background-color: #db1;
    color: black;
    font-family: "Lexend", sans-serif;
}

nav > ul {
    display: flex;
    padding: 0.5rem;
    flex-wrap: nowrap;
    overflow: auto;
    margin: 0;
}

nav > ul > li {
    list-style: none;
    padding: 0 0.25rem;
}

nav > ul > li > a {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 0.1rem solid #0007;
    border-radius: 4rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
    background-color: white;
}

nav > ul > li > a:hover {
    background-color: #cde;
    border: 0.1rem solid #000;
    text-decoration: underline;
    box-shadow: 0 0.1rem 0.2rem #0007;
}

main {
    display: flow-root;
    margin: 1rem auto;
    padding: 1rem;
    padding-top: 0;
    background-color: #fff;
}

pre {
    margin: 0;
    padding-left: 3em;
    overflow: auto;
}

footer {
    padding: 1rem;
    background-color: #db1;
}

img {
    max-width: 100%;
}

@media (max-width: 500px) {
    header {
        grid-template-rows: 5rem;
        grid-template-columns: minmax(0, 5rem) minmax(0, 1fr);
    }
    header > img {
        width: 4rem;
    }
    h1 {
        font-size: 2rem;
    }
}
