<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock title %}</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="/main.css" rel="stylesheet"/>
  <link href="/font.css" rel="stylesheet"/>
  <link href="/nav.css" rel="stylesheet"/>
  {% block head %} {% endblock head %}
</head>

<body>
  <header>
    {% block header %}
    <h1></h1>
    {% endblock header %}
  </header>
  <main>
    {% block main %}{% endblock main %}
  </main>
  <footer>
    2022 - SPX Robotics Club - <a href="/sitemap.xml">Sitemap</a>
  </footer>
  <!-- Debugging -->
  {% if DEBUG %}
  <pre><code>{{ __tera_context | escape | safe }}</code></pre>
  {% endif %}
</body>

</html>
