<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock title %}</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="/main.css" rel="stylesheet"/>
  <link href="/font.css" rel="stylesheet"/>
  <link href="/nav.css" rel="stylesheet"/>
  <link href="/feature.css" rel="stylesheet"/>
  {% block head %} {% endblock head %}
</head>

<body>
  <header>
    {% block header %}
    <h1>Replace this template heading</h1>
    {% endblock header %}
  </header>
  <main>
    {% block main %}{% endblock main %}
  </main>
  <footer>
    <p>
    2022 - {{ now(utc=true) | date(format="%Y", timezone="Australia/Sydney") }}
    - SPX Robotics Club
    - <a href="https://github.com/spxrobots/spxrobots.github.io">Source Code</a>
    - Build {{ now(utc=true) | date(format="%Y.%m.%d.%H%M", timezone="Australia/Sydney") }}{% include "gitrev.html" ignore missing %}
    </p>
  </footer>
  <!-- Debugging -->
  {% if DEBUG %}
  <pre><code>{{ __tera_context | escape | safe }}</code></pre>
  {% endif %}
</body>

</html>
