
{% macro toc(page) %}
<details open class="toc">
  <summary>Contents</summary>
  <ol id="toc">
  {% for h2 in page.toc %}
    <li>
      <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
      {% if h2.children %}
      <ol>
      {% for h3 in h2.children %}
        <li>
          <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
          {% if h3.children %}
          <ol>
          {% for h4 in h3.children %}
            <li>
              <a href="{{ h4.permalink | safe }}">{{ h4.title }}</a>
            </li>
          {% endfor %}
          </ol>
          {% endif %}
        </li>
      {% endfor %}
      </ol>
      {% endif %}
    </li>
  {% endfor %}
  </ol>
</details>
{% endmacro toc %}
