{% extends "page.html" %}

{% import "macros.html" as macros %}

{% block head %}
<link href="/wiki.css" rel="stylesheet"/>
{% endblock head %}

{% block main %}

{% if page.extra.stub %}
<section class="banner">
  <h2>💡 This Page is a Stub.</h2>
  <p>Help improve this page by contributing facts, tips, experience, images and more.</p>
</section>
{% endif %}

{{ page.content | replace(from="<!-- toc -->", to=macros::toc(page=page)) | safe }}

{% if page.extra.see_also and page.extra.see_also | length > 0 %}
<section>
  <h2>See Also</h2>
  <ul>
  {% for link in page.extra.see_also %}
    <li><a href="{{ link.href | safe }}">{{ link.name }}</a></li>
  {% endfor %}
  </ul>
</section>
{% endif %}

{% if page.backlinks | length > 0 %}
<section>
  <h2>What Links Here</h2>
  <ul>
  {% for page in page.backlinks | sort(attribute="title") %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
  </ul>
</section>
{% endif %}

{% endblock main %}
